body {
    background: rgb(63,170,139);
    background: radial-gradient(circle, rgba(63,170,139,1) 0%, rgba(60,177,222,1) 48%, rgba(96,220,245,1) 96%);
}

.separated-full > input, textarea , .separated > input, textarea {
    width: 300px;
    margin-left: 1rem;
}

datalist {
    display: none;
}

.separated-full > label , .separated > label {
    width: 100px;

}



.separated-full  , .separated > .format-inf {
    width: auto;
}

.separated-full  , .separated > input {
    padding-left: 1rem;
    padding-right: 1rem;

}

.separated-full , .separated {  
    display: flex;
    flex-flow: row wrap;
    
  }

  
main {
    position: relative;
}

section {
    position: absolute;
  
    left: 10%;
    top: 10%;
   
}

section > * {
    padding: 1rem;
}

main form{
    border: 2px solid var(--main-alt-color);
    padding: 1rem;

    border-radius: 0px 20px 20px 20px;
    -webkit-border-radius: 0px 20px 20px 20px;
    -moz-border-radius: 0px 20px 20px 20px;
    -ms-border-radius: 0px 20px 20px 20px;
    -o-border-radius: 0px 20px 20px 20px;

    -ms-box-shadow: 8px 8px 24px -5px rgba(66, 68, 90, 1);
    -o-box-shadow: 8px 8px 24px -5px rgba(66, 68, 90, 1);
    -webkit-box-shadow: 8px 8px 24px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px -5px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px -5px rgba(66, 68, 90, 1);
}
main > section option {
    padding: 0;
}
#months {
    height: 0;
}

::placeholder { 
    color: rgb(169,169,169)
  }

  .form-buttons > .separated{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;

}

.form-buttons > .separated > input{

    width: auto;

}

div.separated:not(:last-child), div.separated-full:not(:last-child) {
    border-radius: 10px 20px 20px;
    -webkit-border-radius: 10px 20px 20px;
    -moz-border-radius: 10px 20px 20px;
    -ms-border-radius: 10px 20px 20px;
    -o-border-radius: 10px 20px 20px;
    border: 1px solid var(--main-alt-color);
    margin-bottom: 8px;
}

main input:not(input[type="color"]), textarea {
    border-radius: 0px 20px 20px 20px;
    -webkit-border-radius: 0px 20px 20px 20px;
    -moz-border-radius: 0px 20px 20px 20px;
    -ms-border-radius: 0px 20px 20px 20px;
    -o-border-radius: 0px 20px 20px 20px;
    border: 1px solid var(--main-alt-color);
}

main input[type="color"] {
    border: none;
    outline: none;
    height: 60px;
    padding: 0;
    background-color: transparent;
}


form.form-join-us {
    background: var(--main-color);

}

form.form-join-us label, p {

    font-weight: bold;

}

main form div:not(:last-child) {
 
    clear:both;
}

form.form-personal label, p {

    font-weight: bold;

}

form.form-personal div:not(.separated-full) {

    width: fit-content;

}

#helpText {
    height: 45px;
}