/* colors  */

:root {
    --main-color: #eaecf0;
    --main-alt-color: #0e3472;
    --text-color: #000000;
    --text-alt-color: #1e2227;
    
}

*, *::before, *::after {

    box-sizing:border-box;
    margin: 0;
    padding: 0;

}

.header-content h1 {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@font-face {
    font-family: 'Merriweather';
    src: url("../fonts/Merriweather-Regular.ttf");
  }

body {
    font-family: 'Merriweather', serif;
        color: var(--text-color);
    background-color: var(--main-color);
}

body > h1 {
    color: var(--text-alt-color);
}


main > section *{
 padding: 5px;
}

section.worlds-right-table{
    float: right;
}

main > article {
    padding: 5px;
   
        padding:0 0 55px;
    
}
main{
    padding-bottom: 120px;
}

.worlds-right-table{
    padding: 5px;
}

.header-content {
    display: flex;
    flex-direction: row;
    background-color: var(--main-alt-color);

}

.global-hr{
    border: 1px solid var(--main-alt-color);
    border-radius: 2px;
}



img.logo {
    width: 75px;
    height: 50px;
}

.list-padding{
    margin-left: 20px;
}

.footer {
  height: 120px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--main-alt-color);
  color: white;
  text-align: center;
}

.footer {
    padding-top: 10px;
    border: #ffffff;
    border-image-slice: 12 12 12 12;
    border-image-width: 12px 12px 12px 12px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: repeat repeat;
    border-image-source: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-5.png");
    border-style: solid; 
}


.interior-nav ul > li {
    display: inline-block;

     /* this fix is needed for IE7- */
    zoom:1;
    *display:inline;
   
}

/* addition */

.click-dropdown-area {
	
	width: 50%;
    
}

.click-dropdown-area * {
    padding-left: 20px;
}

summary.click-dropdown-header::-webkit-details-marker {
    display: none;
  }
  
summary.click-dropdown-header::before {
    content: "\21E2";
    padding-right: 0.5em;
}
  
details.click-dropdown-area[open] > summary.click-dropdown-header::before {
    content: "\21E3";
}
summary.click-dropdown-header {
    display: block;
	font-weight: bold;
	position: relative;
	cursor: pointer;
}
  
.click-dropdown-list {
	list-style: none;
}

.click-dropdown-list-item {
	
	font-weight: bold;


}

footer a:link {
    background-color: yellowgreen;
}

a:active {
    background-color: yellow;
}

a:visited {
    color: green;
}

a:hover {
    color: orange;
}

@page :first {
    margin-left: 50%;
    margin-top: 50%;
}


:target {
    background-color: red;
}

.section_right{
    float: right;  
    margin-top: 30px;
}


#przenikanie {
    height:400px;
    width:400px; 
    margin-bottom: 20px;
    position: relative; 
  }
  
  #przenikanie img {

    position: absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
   
  }
  
  #przenikanie img.obraz-2:hover {
    opacity:0;
  }
  
  .logo-transormed {
      position: relative;
      transform: skew(10deg, 20deg) scale(1.4, 0.7) rotate(0.5turn);
      -webkit-transform: skew(10deg, 20deg) scale(1.4, 0.7) rotate(0.5turn);
      -moz-transform: skew(10deg, 20deg) scale(1.4, 0.7) rotate(0.5turn);
      -ms-transform: skew(10deg, 20deg) scale(1.4, 0.7) rotate(0.5turn);
      -o-transform: skew(10deg, 20deg) scale(1.4, 0.7) rotate(0.5turn);
}

header img{
    width: 90px;
    height: 90px;
    
  }
  
  

  .button_przycisk {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4CAF50;
  }
  .settings-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .settings-footer > * {
    float: left
  }

  .divraportformow{
    visibility:hidden;
    margin: 10px;
    border: #000000;
    border-radius: 5px;
    border-style: solid;
    width: 1000px;
    background: grey;
}
.dropdown-login:hover .dropdown-login-content {
    display: block;
}

.global-nav {
    margin-left: auto; 
    margin-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

nav.global-nav ul {

    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}


nav.global-nav ul a{
    color: inherit;
    text-decoration: underline;
    padding: 0;
    margin-left: 0;
    border-style: none;
    background-color: inherit;
    border-width: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

nav.global-nav ul a:hover{
    background-color: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
/* full screen desktop */
@media only screen and (min-width: 1200px){

    nav.global-nav ul a{
        color: inherit;
        text-decoration: none;
        padding: 5px 10px 5px 10px;
        margin-left: 5px;
        border-color: #000000;
        border-style: solid;
        background-color: var(--main-color);
        border-width: thin;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        }
    
    nav.global-nav ul a:hover{
        color:black;
        background-color: yellow;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }

    nav.global-nav ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        /* For IE, the outcast */
        zoom:1;
        *display: inline;
    }

    nav.global-nav ul >li {
        float: left;
        padding: 2px 5px;
    }
    nav.global-nav span {
        padding: 5px 10px 5px 10px;
        border-color: #000000;
        border-style: solid;
        background-color: var(--main-color);
        border-width: thin;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }
    
    
    nav.global-nav ul span:hover{
        color:black;
        background-color: yellow;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }
}



nav.global-nav button, nav.global-nav input[type="submit"], nav.global-nav input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content > span {
    text-align: right;
  }

  .modal-content {
    position: fixed; 
    left: 50%;
    top: 20%;
    color: black;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    max-width: fit-content;
    max-height: fit-content;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }